DeepMIMOv1-LIS-DeepLearning-Taha/RayTracing Scenarios/O1_28
DeepMIMOv1-LIS-DeepLearning-Taha/output/

DeepMIMOv1-LIS-DeepLearning-Alkhateeb
DeepMIMOv1-LIS-DeepLearning-Alkhateeb/RayTracing Scenarios/O1_28
DeepMIMOv1-LIS-DeepLearning-Alkhateeb/output/