!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/*

!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/*

!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/preliminary_results/
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/preliminary_results/*
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/preliminary_results/RateDLpy/
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/preliminary_results/RateDLpy/*
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/preliminary_results/RateDLpy/Rate*

!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/experiment*/
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/experiment*/*
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/experiment*/RateDLpy/
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/experiment*/RateDLpy_TFLite/
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/experiment*/RateDLpy_TFLite_mcu/
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Neural_Network/experiment*/training_history/

!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU/logs
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU/model
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU/output_data
!DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU/scaler
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU/test_data
DeepMIMOv1-LIS-DeepLearning-Taha/Output_Python/Profiling_Search_MCU/test_data_normalized

DeepMIMOv1-LIS-DeepLearning-Taha/Output Matlab

DeepMIMOv1-LIS-DeepLearning-Taha/Pareto_plot/test-modelinram-*.txt

old/renode_portable
old/renode_boards
old/tflite-micro

mcu/esp32-s2-saola-blink/*

mcu/esp32-s2-saola-tflm/.gitignore
mcu/esp32-s2-saola-tflm/.pio
mcu/esp32-s2-saola-tflm/.vscode
mcu/esp32-s2-saola-tflm/lib/model/*
!mcu/esp32-s2-saola-tflm/lib/tflite-micro/tensorflow/
mcu/esp32-s2-saola-tflm/lib/tflite-micro/tensorflow/*
mcu/esp32-s2-saola-tflm/*.txt
mcu/esp32-s2-saola-tflm/test/

mcu/nucleo-f446ze/.gitignore
mcu/nucleo-f446ze/.pio
mcu/nucleo-f446ze/.vscode
mcu/nucleo-f446ze/lib/lib-luca/*
mcu/nucleo-f446ze/lib/model/*
!mcu/nucleo-f446ze/lib/tflite-micro/tensorflow/
mcu/nucleo-f446ze/lib/tflite-micro/tensorflow/*
mcu/nucleo-f446ze/*.txt
mcu/nucleo-f446ze/test/

mcu/nucleo-h753zi/.gitignore
mcu/nucleo-h753zi/.pio
mcu/nucleo-h753zi/.vscode
mcu/nucleo-h753zi/lib/lib-luca/*
mcu/nucleo-h753zi/lib/model/*
!mcu/nucleo-h753zi/lib/tflite-micro/tensorflow/
mcu/nucleo-h753zi/lib/tflite-micro/tensorflow/*
mcu/nucleo-h753zi/*.txt
mcu/nucleo-h753zi/test/

mcu/pico/.gitignore
mcu/pico/.pio
mcu/pico/.vscode
mcu/pico/lib/lib-luca/*
mcu/pico/lib/model/*
!mcu/pico/lib/tflite-micro/tensorflow/
mcu/pico/lib/tflite-micro/tensorflow/*
mcu/pico/*.txt
mcu/pico/test/

mcu/stm32-test/*

*.ps1
*.pyc
.vscode/*
RIS.code-workspace

#DeepMIMOv1-LIS-DeepLearning-Taha/RayTracing Scenarios/O1_28