!code/Output_Python/
code/Output_Python/*

!code/Output_Python/Neural_Network/
code/Output_Python/Neural_Network/*

!code/Output_Python/Neural_Network/preliminary_results/
code/Output_Python/Neural_Network/preliminary_results/*
!code/Output_Python/Neural_Network/preliminary_results/RateDLpy/
code/Output_Python/Neural_Network/preliminary_results/RateDLpy/*
!code/Output_Python/Neural_Network/preliminary_results/RateDLpy/Rate*

!code/Output_Python/Neural_Network/experiment*/
code/Output_Python/Neural_Network/experiment*/*
!code/Output_Python/Neural_Network/experiment*/RateDLpy/
!code/Output_Python/Neural_Network/experiment*/RateDLpy_TFLite/
!code/Output_Python/Neural_Network/experiment*/RateDLpy_TFLite_mcu/
!code/Output_Python/Neural_Network/experiment*/training_history/

!code/Output_Python/Profiling_Search_MCU
code/Output_Python/Profiling_Search_MCU/logs
code/Output_Python/Profiling_Search_MCU/model
code/Output_Python/Profiling_Search_MCU/output_data
!code/Output_Python/Profiling_Search_MCU/scaler
code/Output_Python/Profiling_Search_MCU/test_data
code/Output_Python/Profiling_Search_MCU/test_data_normalized

code/Output Matlab

code/Pareto_plot/test-modelinram-*.txt
code/Pareto_plot/*.pdf
code/Fig7*
code/FigC*
code/FigD*
code/profiling_append*
code/DL_predict_5.m
code/Fig12_plot.m
code/DL_training_8_mcu.py

old/renode_portable
old/renode_boards
old/tflite-micro

reference_papers

mcu/attach boards/*

mcu/esp32-s2-saola-blink/*

mcu/esp32-s2-saola-tflm/.gitignore
mcu/esp32-s2-saola-tflm/.pio
mcu/esp32-s2-saola-tflm/.vscode
mcu/esp32-s2-saola-tflm/lib/model/*
!mcu/esp32-s2-saola-tflm/lib/tflite-micro/tensorflow/
mcu/esp32-s2-saola-tflm/lib/tflite-micro/tensorflow/*
mcu/esp32-s2-saola-tflm/*.txt
mcu/esp32-s2-saola-tflm/test/

mcu/nucleo-f446ze/.gitignore
mcu/nucleo-f446ze/.pio
mcu/nucleo-f446ze/.vscode
mcu/nucleo-f446ze/lib/lib-luca/*
mcu/nucleo-f446ze/lib/model/*
!mcu/nucleo-f446ze/lib/tflite-micro/tensorflow/
mcu/nucleo-f446ze/lib/tflite-micro/tensorflow/*
mcu/nucleo-f446ze/*.txt
mcu/nucleo-f446ze/test/

mcu/nucleo-h753zi/.gitignore
mcu/nucleo-h753zi/.pio
mcu/nucleo-h753zi/.vscode
mcu/nucleo-h753zi/lib/lib-luca/*
mcu/nucleo-h753zi/lib/model/*
!mcu/nucleo-h753zi/lib/tflite-micro/tensorflow/
mcu/nucleo-h753zi/lib/tflite-micro/tensorflow/*
mcu/nucleo-h753zi/*.txt
mcu/nucleo-h753zi/test/

mcu/pico/.gitignore
mcu/pico/.pio
mcu/pico/.vscode
mcu/pico/lib/lib-luca/*
mcu/pico/lib/model/*
!mcu/pico/lib/tflite-micro/tensorflow/
mcu/pico/lib/tflite-micro/tensorflow/*
mcu/pico/*.txt
mcu/pico/test/

mcu/stm32-test/*

*.ps1
*.pyc
.vscode/*
RIS.code-workspace